@page "/telerik-grid"
@inject HttpClient Http

<h1>20 x 200 Grid</h1>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<TelerikGrid Data="@forecasts" SelectionMode="GridSelectionMode.Single" TItem="WeatherForecast" SelectedItemsChanged="HandleOnSelected">
        <GridColumns>
            <GridColumn Field="Date"></GridColumn>
            <GridColumn Field="TemperatureC"></GridColumn>
            <GridColumn Field="TemperatureF"></GridColumn>
            <GridColumn Field="Summary"></GridColumn>
            <GridColumn Field="Date"></GridColumn>
            <GridColumn Field="TemperatureC"></GridColumn>
            <GridColumn Field="TemperatureF"></GridColumn>
            <GridColumn Field="Summary"></GridColumn>
            <GridColumn Field="Date"></GridColumn>
            <GridColumn Field="TemperatureC"></GridColumn>
            <GridColumn Field="Date"></GridColumn>
            <GridColumn Field="TemperatureC"></GridColumn>
            <GridColumn Field="TemperatureF"></GridColumn>
            <GridColumn Field="Summary"></GridColumn>
            <GridColumn Field="Date"></GridColumn>
            <GridColumn Field="TemperatureC"></GridColumn>
            <GridColumn Field="TemperatureF"></GridColumn>
            <GridColumn Field="Summary"></GridColumn>
            <GridColumn Field="Date"></GridColumn>
            <GridColumn Field="TemperatureC"></GridColumn>
        </GridColumns>
    </TelerikGrid>*@
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    void HandleOnSelected()
    {
        t1 = DateTime.Now;
    }

    DateTime t1;
    DateTime t2;
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            t2 = DateTime.Now;
            Console.WriteLine("Refresh Time " + (t2 - t1).TotalMilliseconds);
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}
