<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorTablePerformance</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plain-table-component">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Plain
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cascadingvalue-table-component">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CascadingValue
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="parameters-table-component">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parameters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="attributes-table-component">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Attributes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="combined-table-component">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Combined
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="telerik-grid">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Telerik Grid
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
